@font-face {
    font-family: 'Josefin Sans Variant';
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Josefin Sans Variant Italic';
    src: url(../fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'C059';
    src: url(../fonts/C059-Roman.otf) format('opentype');
}

@font-face {
    font-family: 'C059 Bold';
    src: url(../fonts/C059-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'C059 Italic';
    src: url(../fonts/C059-Italic.otf) format('opentype');
}

@font-face {
    font-family: 'C059 Italic Bold';
    src: url(../fonts/C059-BdIta.otf) format('opentype');
}
