:roo {
	--primary-color: #2875d9;
}

* {
	box-sizing: border-box;
}

html, body, #write {
	font-family: 'C059';
}

box {
    display: block;
}

box,  inline-box { 
    border: 1px solid black;
    padding: .25rem .5rem;
}


article {
    & h1, & h2, & h3, & h4, & h5, & h6 {
        p + & {
            margin-top: 2rem;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans";
    text-align: left !important;
}


h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

h3, h4, h5, h6 {
    font-weight: normal; 
}

html, body, #write {
	font-size: 1rem;
	text-align: justify;
	display: block;
}

p {
    line-height: 1.75rem;
}

body {
    background-color: #f8f9fa;
}

@media print {
    #write {
        background-color: transparent !important;
        box-shadow: none !important;
        padding: 0 !important;
    }
}


#write {
    background-color: white;
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
	max-width: 800px;
    padding-right: .75in;
    padding-left: .625in;
    margin: auto;
}


a {
	color: var(--primary-color);
}


/* Lists */

ul, ol {
    & li {
        margin-bottom: .5rem;
    }
}

.list-none + ul, .list-none + ol {
    list-style-type: none;

    & li {
        & strong {
            margin-right: .75rem;
            margin-left: -2.25rem;
            text-align: left;
        }
    }
}

/* Stuff */

sup.md-footnote {
	background-color: transparent;
	color: var(--primary-color);
	padding: 1px;
	margin: 0;
}

code, .md-fences, .sourceCode {
    font-family: "Space Mono";
}

code {
    font-size: 10pt;
    font-weight: bold;
}

.md-fences, pre.sourceCode {
    line-height: 1.5;
    background: #fefe;
    padding: .5rem 0;
}

.md-fences div.CodeMirror {
    margin-left: 0.25rem;
    padding-left: 0.15rem;
	border-left: 0.1rem solid #ddd;
}

.show-fences-line-number .md-fences {
	padding-left: .5rem;
}

blockquote {
	margin: 2rem .2rem;
	padding: .3rem .5rem;
	color: #6f6f6f;
	border-left: .4rem solid gray;
}

blockquote p {
	padding: .2rem 1.5rem;
}

mark {
	background: yellow;
}

figure {
	margin: .5rem auto;
	max-width: 100%;
	display: block;
	margin: auto;
}

figcaption {
	text-align: center;
	margin: .5rem auto;
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
}

/**
 * Text styling classes
 **/

.v-small { 
    font-variant: small-caps;
}

/* 
    Print Mode and page breaks.
    WkhtmlToPDF does not work on @print mode
*/

@media (max-width: 210mm) {
	img {
		max-height: 8cm;
	}
	html {
		font-size: 16px;
	}
	div[title="pb"], page-break {
		display: block;
		page-break-after: always;
		break-after: page;
	}
	nav {
		font-size: .9rem;
		page-break-after: always;
		page-break-before: always;
	}
	nav a {
		color: black;
	}
	/* Move top-level headings to a new page on the right-hand side: */
	h1, h2 {
		page-break-before: avoid;
		/* page-break-before: right; 
		break-before: recto; */
	}
	/* Override the previous ruleset for the very first heading: */
	h1:first-of-type, section>h1:first-child {
		page-break-before: avoid;
		break-before: avoid;
	}
	/* Headings should not be the last paragraph on a page: */
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}
	/* Consecutive headings with deepening level should not be split across pages: */
	h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
		page-break-before: avoid;
	}
}
